# Python
*.py[cod]
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc

media

# Virtual Environment
ENV/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Local development settings
local_settings.py

# Environment variables
.env 