{% comment %} 
Here "{% url 'home' %}" means use the named url "home" in urls.py
In exact this is the url "path('', views.home, name='home')"
inside "base/urls.py urlpatterns" list of paths
{% endcomment %}
<header>
  <a href={% url 'home' %} class="logo">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path xmlns="http://www.w3.org/2000/svg"
        d="M512 503.5H381.7a48 48 0 01-45.3-32.1L265 268.1l-9-25.5 2.7-124.6L338.2 8.5l23.5 67.1L512 503.5z"
        fill="#ff0101" data-original="#28b446" />
      <path xmlns="http://www.w3.org/2000/svg" fill="#ff0101" data-original="#219b38"
        d="M361.7 75.6L265 268.1l-9-25.5 2.7-124.6L338.2 8.5z" />
      <path xmlns="http://www.w3.org/2000/svg"
        d="M338.2 8.5l-82.2 234-80.4 228.9a48 48 0 01-45.3 32.1H0l173.8-495h164.4z" fill="#ff0101"
        data-original="#518ef8" />
    </svg>
    SunuJob
  </a>
  <nav>
    <a href={% url 'services' %} class="active">Find Job</a>
    <a href="/most_requested">Most Request</a>
    <a href="#" >Find Salaries</a>
  </nav>
  {% if user.is_authenticated %}
    <div class="user-settings">
      <img class="avatar" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%283%29+%281%29.png"
        alt=""/>
      <a href={% url 'profile' %} class="user-name">{{ user.username }}</a>
      <a href={% url 'logout' %} class="btn">Logout</a>
    </div>
  {% else %}
    <div>
      <a class="btn" href={% url 'register' %}>register</a>
      <a class="btn" href={% url 'login' %}>login</a>
    </div>
  {% endif %}
</header>
