aside {
  position: relative;
  grid-column: 1 / 1;
  grid-row: 2 / -1;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  flex-shrink: 0;
}

.type-container {
  display: flex;
  align-items: center;
  color: var(--subtitle-color);
  font-size: 13px;
}

.type-container label {
  margin-left: 2px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.type-container+.type-container {
  margin-top: 10px;
}

.job-number {
  margin-left: auto;
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
  font-size: 10px;
  font-weight: 500;
  padding: 5px;
  border-radius: 4px;
}

aside a {
  border-left: 1px solid var(--subtitle-color);
  padding-left: 10px;
  text-decoration: none;
}

aside a span:not(.job-number) {
  padding: 2.5px;
}

aside a.active {
  border-left: 2px solid var(--active-color);
}

a.active>span {
  border-radius: 2.5px;
  background-color: var(--active-light-color);
  color: var(--active-color);
}

.add_services { 
  background: red;
  width: 50%;
  margin: auto;
  overflow: auto;
  text-align: center;
}

.profile_infos {
  margin-top: 20px;
  margin-left: 50px;
}

.profile {
  margin-left: 50px;
}
