{% extends './layouts/main.html' %}
{% block content %}
  <aside>
    <h4>Type of Job</h4>
    <div class="job-wrapper">
      {% for field, verbose in field_verbose_dict.items %}
        <a href="{% url 'home_with_filter' field %}" class="type-container">
          <span>{{ verbose }}</span>
          <span class="job-number">x</span>
        </a>
      {% endfor %}
    </div>
  </aside>
  <main>
    <div class="job-grid">
      {% for item in services %}
        {% include './widgets/one_service_card.html' %}
      {% endfor %}
    </div>
  </main>
{% endblock %}
