<nav class="navbar">
	<ul>
		<li><a href="{% url 'home' %}">Home</a></li>
		<li>
			<a href="{% url 'services' %}">Services</a>
			<ul>
				<li>
					<a href="{% url 'services_air_conditioner' %}">Air Conditioner</a>
				</li>
				<li><a href="{% url 'services_carpentry' %}">Carpentry</a></li>
				<li><a href="{% url 'services_electricity' %}">Electricity</a></li>
				<li><a href="{% url 'services_gardening' %}">Gardening</a></li>
				<li><a href="{% url 'services_home_machines' %}">Home Machines</a></li>
				<li><a href="{% url 'services_housekeeping' %}">House Keeping</a></li>
				<li>
					<a href="{% url 'services_interior_design' %}">Interior Design</a>
				</li>
				<li><a href="{% url 'services_locks' %}">Locks</a></li>
				<li><a href="{% url 'services_painting' %}">Painting</a></li>
				<li><a href="{% url 'services_plumbing' %}">Plumbing</a></li>
				<li><a href="{% url 'services_water_heaters' %}">Water Heaters</a></li>
			</ul>
		</li>
		<li><a href="{% url 'profile' %}">Profile</a></li>
	</ul>
</nav>
